body {
    margin: 0;
    font-family: Ariel, sans-serif;
    background: #0f172a;
    color: white;
}

.Text_barra{
    color: cyan;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #020617;
}

nav a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover{
    color: cyan;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.Contacto h1{
    font-size: 40px;
}

.btn{
    background: cyan;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.Grid{
    display: grid;
    gap: 20px;
}

.Grid-3{
    grid-template-columns: repear(auto-fit, minmax(200px, 1fr));
}

.card{
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

.Carrusel{
    position: relative;
    max-width: 600px;
    margin: auto;
}

.Carrusel img{
    width: 100%;
    border-radius: 12px;
    transition: opacity 0.5s ease;
}

.Carrusel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#antes{ left: 0;}
#despues{ right: 0;}

input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: #334155;
    color: white;
}

footer{
    background: #020617;
    padding: 20px;
    text-align: center;
    color: gray;
}

.Carrusel_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, rgba(2,6,23,0.9), rgba(2,6,23,0.4), transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.Carrusel_overlay h3{
    color: cyan;
    margin-bottom: 10px;
}

.Carrusel_overlay p{
    color: #cbd5f5;
    font-size: 14px;
}
